__pycache__/
*.pyc
node_modules/
txt/node_modules/
txt/output/fanqie-cdp-profile/
.claude/*.lock
tmp/
**/__pycache__/
*.log
txt/output/imagegen/

/.npm-cache
/doraemon-hongyadong-bike
/anything
/work/aiot_material_assistant
/work/build/aiot_material_assistant
/work/build/物联网生态终端引入材料助手
/work/dist
/work/测试厂商型号132_型号243设备aiot认证材料
