[Unit]
Description=Run ChatGPT novel upload worker every minute

[Timer]
OnBootSec=4min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target

