{
  "openapi": "3.1.0",
  "info": {
    "title": "小叮当长篇小说工作台",
    "description": "私人长篇小说工作流：市场研究、12选3、项目状态、章节保存、质量检查和番茄草稿上传。服务不提供发布能力。",
    "version": "1.0.0"
  },
  "servers": [{"url": "https://iz5ts314xq7lzp4t07pfmoz.tail04405f.ts.net"}],
  "security": [{"apiKeyAuth": []}],
  "paths": {
    "/v1/defaults": {
      "get": {
        "operationId": "getNovelWorkflowDefaults",
        "summary": "读取长期写作规则、标签要求和账号白名单",
        "responses": {"200": {"description": "工作流规则"}}
      }
    },
    "/v1/market-jobs": {
      "post": {
        "operationId": "startMarketStudy",
        "summary": "用公开榜单书目启动拆书任务并最长等待35秒返回进度或结果",
        "description": "返回queued或running时，必须立即调用getNovelJob并传wait_seconds=35持续等待；后台可跨多次轮询继续，但单次网页等待始终不超过35秒。单批最多15本，达到6本立即停止；不足6本尝试完整批。若不足3本，自动提交下一批（带上前批成功书目以复用缓存，加新的未尝试官方榜单书），直到单个任务至少3本有效样本。",
        "x-openai-isConsequential": false,
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {
            "type": "object",
            "required": ["genre", "audience", "ranking_platform", "attempted_platforms", "ranking_books"],
            "properties": {
              "genre": {"type": "string"},
              "audience": {"type": "string", "enum": ["男频", "女频"], "description": "决定强制榜单降级链"},
              "ranking_platform": {"type": "string", "enum": ["起点", "飞卢", "晋江", "七猫", "番茄"], "description": "本批书目所在的官方榜单平台；必须遵守受众对应顺序"},
              "attempted_platforms": {"type": "array", "items": {"type": "string"}, "description": "本轮之前已经失败的平台，必须是对应降级链的连续前缀；首轮传空数组"},
              "sample_limit": {"type": "integer", "minimum": 3, "maximum": 6, "default": 6, "description": "本批目标有效样本数；3是最低门槛，常规使用6"},
              "wait_seconds": {"type": "integer", "minimum": 0, "maximum": 35, "default": 35},
              "ranking_books": {
                "type": "array", "minItems": 1, "maxItems": 15,
                "items": {
                  "type": "object", "required": ["title"],
                  "properties": {
                    "rank": {"type": "integer"},
                    "title": {"type": "string"},
                    "author": {"type": "string"}
                    ,"source_platform": {"type": "string", "description": "应与ranking_platform一致"}
                  }
                }
              }
            }
          }}}
        },
        "responses": {"200": {"description": "后台任务ID"}}
      }
    },
    "/v1/jobs/{job_id}": {
      "get": {
        "operationId": "getNovelJob",
        "summary": "长轮询查询后台任务进度和小型结果摘要",
        "description": "如果返回queued或running，无论已查询多少次，都必须在同一轮回复中再次调用并传wait_seconds=35，直到completed、failed或needs_review终态；禁止结束回复等待用户催促。上传任务运行中会返回逐章verified_chapters进度。市场研究终态只返回摘要。",
        "parameters": [
          {"name": "job_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "wait_seconds", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0, "maximum": 35, "default": 35}}
        ],
        "responses": {"200": {"description": "任务状态和精简结果摘要"}}
      }
    },
    "/v1/market-jobs/{job_id}/samples/{sample_index}": {
      "get": {
        "operationId": "getMarketStudySample",
        "summary": "读取一个有效拆书样本的抽样章节和结构索引",
        "description": "仅在市场任务completed后按摘要中的sample_index调用。每次最多返回两段受控长度抽样内容；has_more为true时用next_offset继续读取。仅供内部分析，不得向用户展示正文或复用原句。",
        "parameters": [
          {"name": "job_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "sample_index", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}},
          {"name": "excerpt_offset", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0, "default": 0}},
          {"name": "excerpt_limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 2, "default": 2}}
        ],
        "responses": {
          "200": {"description": "单本拆书样本的一页，包含结构索引和最多2段受控长度正文"},
          "404": {"description": "任务或样本不存在"},
          "409": {"description": "任务尚未完成"}
        }
      }
    },
    "/v1/ideations": {
      "post": {
        "operationId": "saveTwelveNovelCandidates",
        "summary": "保存恰好12个完成评分的候选方案",
        "x-openai-isConsequential": false,
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {
            "type": "object",
            "required": ["genre", "market_job_id", "banned_defaults", "entropy_pool", "prior_work_scope", "candidates"],
            "properties": {
              "genre": {"type": "string"},
              "market_job_id": {"type": "string"},
              "banned_defaults": {"type": "array", "minItems": 10, "items": {"type": "string"}},
              "entropy_pool": {"type": "array", "minItems": 3, "items": {"type": "string"}},
              "prior_work_scope": {"type": "string", "minLength": 10},
              "candidates": {
                "type": "array", "minItems": 12, "maxItems": 12,
                "items": {
                  "type": "object",
                  "required": ["number", "working_title", "hook", "emotional_promise", "heroine_engine", "relationship_engine", "serialization_engine", "risk", "novelty_constraints", "structural_fingerprint", "prior_work_comparison", "costume_swap_test", "scene_causality", "adversarial_review", "scores"],
                  "properties": {
                    "number": {"type": "integer", "minimum": 1, "maximum": 12},
                    "working_title": {"type": "string"},
                    "hook": {"type": "string"},
                    "emotional_promise": {"type": "string"},
                    "heroine_engine": {"type": "string"},
                    "relationship_engine": {"type": "string"},
                    "serialization_engine": {"type": "string"},
                    "risk": {"type": "string"},
                    "novelty_constraints": {"type": "array", "minItems": 2, "items": {"type": "string"}},
                    "structural_fingerprint": {"type": "string"},
                    "prior_work_comparison": {"type": "string"},
                    "costume_swap_test": {"type": "string"},
                    "scene_causality": {"type": "string"},
                    "adversarial_review": {"type": "string"},
                    "scores": {
                      "type": "object",
                      "required": ["originality", "emotional_fit", "opening_hook", "serialization", "heroine_agency", "romantic_chemistry", "fanqie_fit", "total"],
                      "properties": {
                        "originality": {"type": "number"},
                        "emotional_fit": {"type": "number"},
                        "opening_hook": {"type": "number"},
                        "serialization": {"type": "number"},
                        "heroine_agency": {"type": "number"},
                        "romantic_chemistry": {"type": "number"},
                        "fanqie_fit": {"type": "number"},
                        "total": {"type": "number"}
                      }
                    }
                  }
                }
              }
            }
          }}}
        },
        "responses": {"200": {"description": "选题记录ID"}}
      }
    },
    "/v1/ideations/{ideation_id}/select": {
      "post": {
        "operationId": "selectNovelCandidate",
        "summary": "记录用户从12个候选中明确选择的方案",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "ideation_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {
            "type": "object", "required": ["candidate_no"],
            "properties": {"candidate_no": {"type": "integer", "minimum": 1, "maximum": 12}}
          }}}
        },
        "responses": {"200": {"description": "已选择方案"}}
      }
    },
    "/v1/books": {
      "get": {
        "operationId": "findNovelProject",
        "summary": "按不完整书名模糊查找已有小说项目",
        "description": "没有book_id、会话中断或用户只提供书名时必须先调用。自动忽略书名号、空格和标点；唯一高置信结果直接返回selected.book_id，多结果时只让用户按完整书名选择，禁止索要book_id。",
        "x-openai-isConsequential": false,
        "parameters": [
          {"name": "title", "in": "query", "required": true, "schema": {"type": "string", "minLength": 2}, "description": "用户记得的完整或部分书名"},
          {"name": "account", "in": "query", "required": false, "schema": {"type": "string"}, "description": "可传account-a/account-b/account-c或作者笔名以提高准确度"}
        ],
        "responses": {"200": {"description": "唯一解析结果selected，或最多10个候选书名、作者、阶段和续写进度"}}
      },
      "post": {
        "operationId": "createNovelProject",
        "summary": "创建新书项目；仅在同书名、同账号、同选题时恢复原book_id",
        "description": "这是幂等恢复入口。selected_working_title必须与服务器已选候选一致。网页刷新后只有ideation_id、书名和账号全部相同时才恢复；同名项目绑定不同选题时返回ideation_mismatch，禁止静默复用。",
        "x-openai-isConsequential": false,
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {
            "type": "object", "required": ["ideation_id", "selected_working_title", "title", "account"],
            "properties": {
              "ideation_id": {"type": "string"},
              "selected_working_title": {"type": "string", "description": "服务器已选候选的原始working_title，用于防止书名与选题串线"},
              "title": {"type": "string"},
              "account": {"type": "string", "enum": ["account-a", "account-b", "account-c"]},
              "metadata": {"type": "object"}
            }
          }}}
        },
        "responses": {"200": {"description": "新建或恢复后的book_id、目录、阶段、版本和resumed标记"}}
      }
    },
    "/v1/books/import-existing": {
      "post": {
        "operationId": "importExistingNovelProject",
        "summary": "把服务器已有但未登记的本地小说导入工作台",
        "description": "findNovelProject返回selected.registration_required=true时立即调用。读取本地正文、作品信息和追踪文件，校验章节连续及最低字数后登记book_id；禁止要求用户重新上传服务器已有文件。",
        "x-openai-isConsequential": false,
        "requestBody": {"required": true, "content": {"application/json": {"schema": {
          "type": "object", "required": ["title"],
          "properties": {
            "title": {"type": "string", "description": "findNovelProject返回的完整本地目录书名"},
            "account": {"type": "string", "enum": ["account-a", "account-b", "account-c"], "description": "通常省略，由作品信息中的作者笔名自动识别"}
          }
        }}}},
        "responses": {"200": {"description": "登记后的book_id、已导入章节数和下一章号"}, "409": {"description": "账号冲突、章节不连续或字数不合格"}}
      }
    },
    "/v1/books/{book_id}/ideation-rebind": {
      "post": {
        "operationId": "rebindNovelProjectIdeation",
        "summary": "将无正文的错误项目安全重绑到正确选题",
        "description": "仅允许trial_writing、无正文、无番茄绑定、无正式封面的项目。操作前自动备份旧项目，保留book_id和目录，重写作品圣经及初始状态并清除错误封面提示词。",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {
          "type": "object",
          "required": ["ideation_id", "selected_working_title", "title", "account", "confirm_rebuild"],
          "properties": {
            "ideation_id": {"type": "string"},
            "selected_working_title": {"type": "string"},
            "title": {"type": "string"},
            "account": {"type": "string", "enum": ["account-a", "account-b", "account-c"]},
            "confirm_rebuild": {"type": "boolean", "enum": [true]},
            "metadata": {"type": "object"}
          }
        }}}},
        "responses": {"200": {"description": "重绑后的原book_id、目录、正确选题和封面状态"}}
      }
    },
    "/v1/books/{book_id}/context": {
      "get": {
        "operationId": "getNovelWritingContext",
        "summary": "写作前读取状态、最近三章和相关历史片段",
        "parameters": [
          {"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "query", "in": "query", "required": false, "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "受控长度的可靠写作上下文"}}
      }
    },
    "/v1/books/{book_id}/cover-spec": {
      "get": {
        "operationId": "getNovelCoverSpec",
        "summary": "读取已保存的封面提示词；缺失时返回完整恢复资料",
        "description": "新会话、网页刷新或封面任务中断后必须先调用。prompt_saved时把cover_prompt逐字发给用户复制到独立图片会话手动生成，禁止自定义GPT调用内置图片生成；cover_saved时不重复生成；missing时根据recovery_context生成提示词并先调用saveNovelCoverSpec。",
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {"200": {"description": "封面状态、已保存提示词，或用于重建提示词的完整作品资料"}}
      },
      "put": {
        "operationId": "saveNovelCoverSpec",
        "summary": "在生成图片前持久化当前小说的封面提示词",
        "description": "必须先保存提示词，再把服务器返回的完整提示词发给用户手动生成。自定义GPT不得调用内置图片生成。提示词必须包含准确书名、作者名、题材画面和600×800要求。",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {
            "type": "object", "required": ["cover_prompt"],
            "properties": {
              "cover_prompt": {"type": "string", "minLength": 80, "description": "将被图片生成能力逐字使用的完整提示词"},
              "visual_brief": {"type": "object", "description": "可选的结构化题材、人物、时代、场景、色彩和禁用元素"}
            }
          }}}
        },
        "responses": {"200": {"description": "已落盘的封面配置及prompt_saved状态"}}
      }
    },
    "/v1/books/{book_id}/writing-batch": {
      "get": {
        "operationId": "getNovelWritingBatch",
        "summary": "读取当前可恢复的写作批次设置和进度",
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {"200": {"description": "本批章节范围、目标字数、上传模式、QA及上传状态"}}
      },
      "put": {
        "operationId": "configureNovelWritingBatch",
        "summary": "首次三章批准后配置本次写作数量和上传方式",
        "description": "每次后续正文开始前必须调用。target_chapters与approximate_words只能填写一个；按字数时以每章约3000字向上换算。upload_mode为auto时整批QA通过后自动上传草稿，为review时等待用户明确确认。",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {
          "type": "object", "required": ["upload_mode"],
          "properties": {
            "target_chapters": {"type": "integer", "minimum": 1, "maximum": 100},
            "approximate_words": {"type": "integer", "minimum": 2500, "maximum": 300000},
            "upload_mode": {"type": "string", "enum": ["auto", "review"]}
          }
        }}}},
        "responses": {"200": {"description": "已保存的写作批次设置"}}
      }
    },
    "/v1/books/{book_id}/writing-resume": {
      "get": {
        "operationId": "getNovelWritingResume",
        "summary": "读取长篇写作的权威检查点和唯一下一步动作",
        "description": "网页会话开始、刷新、中断后收到继续指令，或每章提交后必须调用。服务器会修复未完整落盘的检查点文件，并返回next_action。聊天缓存不得覆盖服务器revision。",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {"200": {"description": "批次进度、QA状态、最后检查点及write/revise/qa/upload下一步"}}
      }
    },
    "/v1/books/{book_id}/writing-contracts": {
      "post": {
        "operationId": "createNovelWritingContract",
        "summary": "为接下来1到4章建立强制创作合同",
        "description": "恢复快照返回plan_segment或plan_revision_segment时必须调用。合同逐章固定主角目标、阻力、关键选择、代价、状态变化、情绪回报、类型承诺、冲突引擎、结尾钩子和结构指纹；未建合同不能保存正文。",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {
          "type": "object", "required": ["from", "to", "contract"],
          "properties": {
            "from": {"type": "integer", "minimum": 1}, "to": {"type": "integer", "minimum": 1},
            "revision_batch_id": {"type": "string", "description": "历史章节修订时传恢复快照中的批次ID"},
            "contract": {"type": "object", "required": ["protagonist", "genre_promises", "segment_goal", "prohibited_loops", "prior_segment_comparison", "chapter_plans"],
              "properties": {
                "protagonist": {"type": "string"},
                "genre_promises": {"type": "array", "minItems": 3, "items": {"type": "string"}},
                "segment_goal": {"type": "string"},
                "prohibited_loops": {"type": "array", "minItems": 3, "items": {"type": "string"}},
                "prior_segment_comparison": {"type": "string"},
                "chapter_plans": {"type": "array", "minItems": 1, "maxItems": 4, "items": {"type": "object",
                  "required": ["chapter_no", "title_intent", "protagonist_goal", "obstacle", "consequential_choice", "cost", "state_change", "emotional_payoff", "type_promise", "conflict_engine", "ending_hook", "structural_fingerprint"],
                  "properties": {
                    "chapter_no": {"type": "integer"}, "title_intent": {"type": "string"},
                    "protagonist_goal": {"type": "string"}, "obstacle": {"type": "string"},
                    "consequential_choice": {"type": "string"}, "cost": {"type": "string"},
                    "state_change": {"type": "string"}, "emotional_payoff": {"type": "string"},
                    "type_promise": {"type": "string"}, "conflict_engine": {"type": "string"},
                    "ending_hook": {"type": "string"}, "structural_fingerprint": {"type": "string"}
                  }}
                }
              }}
          }
        }}}},
        "responses": {"200": {"description": "合同ID及逐章计划"}, "409": {"description": "与最近章节结构重复或批次状态不允许"}}
      }
    },
    "/v1/books/{book_id}/writing-contracts/{contract_id}": {
      "get": {
        "operationId": "getNovelWritingContract",
        "summary": "读取创作合同及跨章审稿状态",
        "x-openai-isConsequential": false,
        "parameters": [
          {"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "contract_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "合同、逐章计划和审稿结论"}}
      }
    },
    "/v1/books/{book_id}/writing-contracts/{contract_id}/review": {
      "post": {
        "operationId": "reviewNovelWritingSegment",
        "summary": "对1到4章执行强制跨章审稿",
        "description": "合同内全部章节逐章QA通过后调用。任一审稿标志不得虚报；服务器还会检查主角能动性和解释性报告句密度，不通过会要求返修本段。",
        "x-openai-isConsequential": false,
        "parameters": [
          {"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "contract_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {
          "type": "object", "required": ["review"], "properties": {"review": {"type": "object",
            "required": ["protagonist_agency_passed", "genre_promise_passed", "emotional_arc_passed", "structure_diversity_passed", "title_variety_passed", "exposition_density_passed", "tracking_integrity_passed", "chapter_findings", "cross_chapter_notes"],
            "properties": {
              "protagonist_agency_passed": {"type": "boolean"}, "genre_promise_passed": {"type": "boolean"},
              "emotional_arc_passed": {"type": "boolean"}, "structure_diversity_passed": {"type": "boolean"},
              "title_variety_passed": {"type": "boolean"}, "exposition_density_passed": {"type": "boolean"},
              "tracking_integrity_passed": {"type": "boolean"},
              "chapter_findings": {"type": "array", "items": {"type": "object", "required": ["chapter_no", "finding"], "properties": {"chapter_no": {"type": "integer"}, "finding": {"type": "string"}}}},
              "cross_chapter_notes": {"type": "string", "minLength": 80}
            }}}
        }}}},
        "responses": {"200": {"description": "passed及continue/revise_segment下一步"}}
      }
    },
    "/v1/books/{book_id}/revision-batches": {
      "get": {
        "operationId": "getNovelRevisionResume",
        "summary": "恢复当前旧章节修订批次",
        "description": "修订中断或用户说继续修改时调用，返回原章/临时稿、逐章QA状态及唯一下一步。",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {"200": {"description": "修订检查点、原章节和下一步"}}
      },
      "post": {
        "operationId": "configureNovelRevision",
        "summary": "配置单章、多章、连续范围或整本修订",
        "description": "开始修改旧小说前调用。all_chapters、chapter_numbers、from_chapter三种选择只能使用一种；mode=auto表示全部QA通过后自动覆盖本地正式正文，review表示等待用户检阅。不会自动改番茄平台草稿。",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {
          "type": "object", "required": ["mode"],
          "properties": {
            "all_chapters": {"type": "boolean"},
            "chapter_numbers": {"type": "array", "minItems": 1, "maxItems": 500, "items": {"type": "integer", "minimum": 1}},
            "from_chapter": {"type": "integer", "minimum": 1}, "to_chapter": {"type": "integer", "minimum": 1},
            "mode": {"type": "string", "enum": ["auto", "review"]}
          }
        }}}},
        "responses": {"200": {"description": "修订批次、第一章原文和下一步"}, "409": {"description": "存在未完成续写或待QA临时稿"}}
      }
    },
    "/v1/books/{book_id}/revision-batches/{revision_batch_id}": {
      "get": {
        "operationId": "getNovelRevisionBatch",
        "summary": "按修订批次ID读取断点",
        "x-openai-isConsequential": false,
        "parameters": [
          {"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "revision_batch_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "修订批次恢复快照"}}
      }
    },
    "/v1/books/{book_id}/revision-batches/{revision_batch_id}/approval": {
      "post": {
        "operationId": "approveNovelRevision",
        "summary": "人工检阅后将全部合格修订晋级为正式正文",
        "description": "仅review模式且全部目标章节QA通过后允许。修改过的章节会标记为尚未重新上传平台。",
        "x-openai-isConsequential": false,
        "parameters": [
          {"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "revision_batch_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "修订已正式保存"}}
      }
    },
    "/v1/books/{book_id}/chapter-checkpoints": {
      "post": {
        "operationId": "commitNovelChapterCheckpoint",
        "summary": "原子提交一章正文及其完整追踪状态",
        "description": "长篇连续写作必须逐章调用。强制质量模式还必须提交当前contract_id和正文内可核验的self_review；正文、摘要和完整追踪状态共同成为可恢复检查点。成功返回前不得继续下一章。",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {
          "type": "object", "required": ["expected_revision", "idempotency_key", "chapter", "state"],
          "properties": {
            "expected_revision": {"type": "integer"},
            "idempotency_key": {"type": "string", "minLength": 12, "maxLength": 120, "description": "同一章同一版本重试时必须保持不变，例如bookid-chapter-draftrevision"},
            "revision_batch_id": {"type": "string", "description": "修改正式旧章节时必传，由configureNovelRevision返回"},
            "contract_id": {"type": "string", "description": "强制质量模式必传，由createNovelWritingContract返回"},
            "self_review": {"type": "object", "description": "强制质量模式必传；证据摘录必须逐字存在于正文", "properties": {
              "protagonist_drives_plot": {"type": "boolean"}, "genre_promise_delivered": {"type": "boolean"},
              "emotional_change_present": {"type": "boolean"}, "no_repeated_loop": {"type": "boolean"},
              "ai_style_revised": {"type": "boolean"}, "notes": {"type": "string", "minLength": 40},
              "evidence": {"type": "object", "properties": {
                "protagonist_action": {"type": "string"}, "emotional_change": {"type": "string"}, "type_promise": {"type": "string"}
              }}
            }},
            "chapter": {"type": "object", "required": ["chapter_no", "title", "body", "summary"], "properties": {
              "chapter_no": {"type": "integer", "minimum": 1}, "title": {"type": "string"},
              "body": {"type": "string"}, "summary": {"type": "string"}
            }},
            "state": {"type": "object", "required": ["context", "characters", "timeline", "foreshadowing", "chapter_index", "structured"],
              "properties": {
                "context": {}, "characters": {}, "timeline": {}, "foreshadowing": {},
                "chapter_index": {}, "structured": {}, "outline": {}, "current_volume": {}, "book_bible": {}
              }
            }
          }
        }}}},
        "responses": {
          "200": {"description": "checkpoint_committed、提交后revision和恢复快照"},
          "409": {"description": "版本冲突、章节不连续或前序章节未通过QA；必须重新读取恢复快照"}
        }
      }
    },
    "/v1/books/{book_id}/chapters": {
      "post": {
        "operationId": "saveNovelChapters",
        "summary": "暂存或覆盖修订最多4章；不会直接写入正式正文",
        "description": "正文先保存到草稿暂存区，允许QA失败后反复覆盖修订。首次三章经QA并由用户确认后才晋级正式正文；三章未批准时禁止第4章。",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {
            "type": "object", "required": ["expected_revision", "chapters"],
            "properties": {
              "expected_revision": {"type": "integer"},
              "chapters": {
                "type": "array", "minItems": 1, "maxItems": 4,
                "items": {
                  "type": "object", "required": ["chapter_no", "title", "body", "summary"],
                  "properties": {
                    "chapter_no": {"type": "integer", "minimum": 1},
                    "title": {"type": "string"},
                    "body": {"type": "string"},
                    "summary": {"type": "string"}
                  }
                }
              }
            }
          }}}
        },
        "responses": {"200": {"description": "临时稿保存后的阶段和版本"}, "409": {"description": "版本或阶段冲突"}}
      }
    },
    "/v1/books/{book_id}/chapter-drafts": {
      "get": {
        "operationId": "getNovelChapterDrafts",
        "summary": "读取待QA、待修订或待人工确认的临时正文",
        "parameters": [
          {"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "from", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1}},
          {"name": "to", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1}}
        ],
        "responses": {"200": {"description": "临时正文、草稿版本和QA状态"}}
      }
    },
    "/v1/books/{book_id}/state": {
      "put": {
        "operationId": "updateNovelState",
        "summary": "暂存或正式更新人物、时间线、伏笔、章节索引和结构化事实",
        "description": "有未确认临时稿时只写入待确认状态；正文晋级时才原子应用到正式追踪文件。",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {
            "type": "object", "required": ["expected_revision", "state"],
            "properties": {"expected_revision": {"type": "integer"}, "state": {"type": "object"}}
          }}}
        },
        "responses": {"200": {"description": "更新后的版本"}}
      }
    },
    "/v1/books/{book_id}/qa": {
      "post": {
        "operationId": "runNovelQualityChecks",
        "summary": "检查临时稿的字数、格式、AI模板、同质化和连续性",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {
            "type": "object", "required": ["from", "to", "originality_review"],
            "properties": {"from": {"type": "integer", "minimum": 1}, "to": {"type": "integer", "minimum": 1},
              "originality_review": {"type": "object", "required": ["scene_causality_checked", "cross_work_swap_checked", "ai_pattern_reviewed", "notes"],
                "properties": {"scene_causality_checked": {"type": "boolean"}, "cross_work_swap_checked": {"type": "boolean"}, "ai_pattern_reviewed": {"type": "boolean"}, "notes": {"type": "string", "minLength": 20}}}}
          }}}
        },
        "responses": {"200": {"description": "逐章QA结果"}}
      }
    },
    "/v1/books/{book_id}/trial-approval": {
      "post": {
        "operationId": "approveThreeChapterTrial",
        "summary": "用户明确批准后将前三章晋级正式正文并开启批量写作",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {"200": {"description": "批量写作已开放"}}
      }
    },
    "/v1/books/{book_id}/writing-batch-approval": {
      "post": {
        "operationId": "approveNovelWritingBatch",
        "summary": "人工检阅模式下确认并晋级本批临时正文",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {"200": {"description": "正式保存后的书籍与批次状态"}}
      }
    },
    "/v1/books/{book_id}/platform-bind-jobs": {
      "post": {
        "operationId": "bindFanqieBook",
        "summary": "用户手动创建作品后按完整书名和账号绑定作品ID",
        "description": "只读取番茄作品列表并保存本地映射，不修改番茄作品。返回任务ID后必须立即调用getNovelJob(wait_seconds=35)，同一轮持续轮询到终态。",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {"200": {"description": "后台任务ID"}}
      }
    },
    "/v1/books/{book_id}/draft-upload-jobs": {
      "post": {
        "operationId": "uploadFanqieDrafts",
        "summary": "上传并验收指定范围草稿，绝不发布；提交后必须持续轮询",
        "description": "同一本书每次提交新上传任务时，服务器会终止并标记此前所有queued/running上传任务为superseded，只保留最新任务。返回任务ID后立即调用getNovelJob(wait_seconds=35)，在同一轮持续轮询到completed、failed、needs_review或superseded。queued或running时不得结束回复或要求用户主动查询。",
        "x-openai-isConsequential": true,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {
            "type": "object", "required": ["from", "to"],
            "properties": {"from": {"type": "integer", "minimum": 1}, "to": {"type": "integer", "minimum": 1}}
          }}}
        },
        "responses": {"200": {"description": "最新草稿上传任务ID及被取代的旧任务ID列表"}}
      }
    },
    "/v1/books/{book_id}/draft-status": {
      "get": {
        "operationId": "getFanqieDraftStatus",
        "summary": "读取当前权威草稿状态，不得仅凭历史失败任务推断",
        "description": "查询章节是否已上传时必须调用。返回平台成功验收快照、章节uploaded标记和最近上传任务。成功验收快照表示草稿已存在；failed任务只表示该次尝试失败，不能推翻已验收状态。",
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {"200": {"description": "当前已上传章节、平台验收明细、最近任务和状态判定规则"}}
      }
    },
    "/v1/books/{book_id}/assets": {
      "post": {
        "operationId": "saveNovelAssets",
        "summary": "验收并保存用户手动生成后上传的600×800最终封面",
        "description": "仅在用户把独立图片会话生成的封面上传到当前对话后调用。必须提交与服务器保存版本逐字一致的cover_prompt。图片必须已经是PNG 600×800；服务器只严格验收并原样保存，不转换格式、不裁剪、不缩放、不补字。",
        "x-openai-isConsequential": false,
        "parameters": [{"name": "book_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {
            "type": "object", "required": ["openaiFileIdRefs", "cover_prompt", "image_text_verified"],
            "properties": {
              "cover_prompt": {
                "type": "string",
                "description": "实际用于生成最终封面的完整提示词。必须要求画面准确显示数据库中的完整书名和作者名，并明确题材、人物、场景及600×800构图"
              },
              "image_text_verified": {
                "type": "boolean", "enum": [true],
                "description": "网页版已目视核对最终图片中的完整书名、作者名和题材画面均正确"
              },
              "openaiFileIdRefs": {
                "type": "array", "minItems": 1, "maxItems": 1,
                "items": {"type": "string"},
                "description": "用户刚上传到当前对话的唯一一张最终封面，必须实际选中该文件；必须为PNG 600×800，不得为空、不得使用旧图"
              }
            }
          }}}
        },
        "responses": {"200": {"description": "服务器原样保存后的600×800最终封面、核对状态、提示词和本地路径"}}
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {"type": "apiKey", "in": "header", "name": "X-API-Key"}
    },
    "schemas": {}
  }
}
