/** global **/
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
}
p:focus,
span:focus,
a:focus,
div:focus {
  outline: none;
}
ol,
ul,
input,
button {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
body,
input,
textarea,
button {
  font-family: 'microsoft yahei', -apple-system, 'PingFang SC', 'simsun', Arial, sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
body {
  word-wrap: break-word;
}
a {
  text-decoration: none;
}
a:focus {
  outline: 0;
}
button {
  cursor: pointer;
}
button:focus {
  outline: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
i {
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/** global **/
body {
  background-color: #f2f4f7;
}
.YEXqC0iUL9L45eJQj0zd {
  background-color: #fff;
  height: 56px;
  margin: 0 auto;
  min-width: 1200px;
  display: flex;
  align-items: center;
}
.YEXqC0iUL9L45eJQj0zd .hJll6FXhli1olqqIUWbv {
  width: 103px;
  height: 44px;
  margin-left: 48px;
  background: url(b44889a9c884a442fe72.svg) no-repeat center 100%/100%;
  background-size: 103px 44px;
}
.FcaZWL7M0_Nzi5iMIrlg {
  height: 600px;
  width: 760px;
  margin: 24px auto 0 auto;
  padding: 24px 32px;
  background: #ffffff;
  border-radius: 10px;
  color: #242830;
  font-weight: 500;
}
.FcaZWL7M0_Nzi5iMIrlg .eA5AukSkMC1uRJd1LX3j {
  border-bottom: 1px solid #e5e6e8;
  margin: 24px 0 26px 0;
}
.FcaZWL7M0_Nzi5iMIrlg .nFbpgb8_YQ15CMVrhmhY {
  font-size: 16px;
}
.FcaZWL7M0_Nzi5iMIrlg .waEb2Po644BZDu3gpqXx {
  font-size: 14px;
}
.FcaZWL7M0_Nzi5iMIrlg .waEb2Po644BZDu3gpqXx .mSf2fRSoVxXc1RSfSI6Q {
  margin-right: 48px;
}
.FcaZWL7M0_Nzi5iMIrlg .oX9dpioPW_WkSnrpdgQ5 {
  font-size: 13px;
  margin: 12px 0 14px 0;
  color: #9c9ea3;
  font-weight: 400;
}
.FcaZWL7M0_Nzi5iMIrlg .NtwHeCuh3xo7e6gMupvy {
  height: 98px;
  padding: 16px;
  border: 1px solid #e5e6e8;
  border-radius: 10px;
  font-size: 13px;
}
.FcaZWL7M0_Nzi5iMIrlg .ep8i46gEiWF1KvrWMixj {
  font-size: 13px;
  margin-bottom: 12px;
}
.FcaZWL7M0_Nzi5iMIrlg .f466Nl_63DBscNufru6a {
  display: flex;
}
.FcaZWL7M0_Nzi5iMIrlg .GWa_GSddIJxGbySAisSE {
  margin-right: 20px;
}

._j5coQO80MlvJhMQQKcc {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 48px;
  cursor: pointer;
}
._j5coQO80MlvJhMQQKcc .rYnsjnP6vLM_vt9GVXLg {
  opacity: 0;
  position: absolute;
  top: 0;
}
._j5coQO80MlvJhMQQKcc .RNHX0oN5r9BNWNUNJQH4 {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMgMWg2YTIgMiAwIDAgMSAyIDJ2NmEyIDIgMCAwIDEtMiAySDNhMiAyIDAgMCAxLTItMlYzYTIgMiAwIDAgMSAyLTJaIiBzdHJva2U9IiNCQkIiIGZpbGw9Im5vbmUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIvPjwvc3ZnPg==) center center / 100% 100% no-repeat;
  margin-right: 8px;
}
._j5coQO80MlvJhMQQKcc .RNHX0oN5r9BNWNUNJQH4.QKJjq5WnKAANSqpVDH4c {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTRweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgMTQgMTQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8dGl0bGU+SWNvbi8xMi/pgInkuK08L3RpdGxlPgogICAgPGcgaWQ9Ikljb24vMTIv6YCJ5LitIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8cmVjdCBpZD0i55+p5b2iIiBmaWxsPSIjMEQ1M0ZGIiB4PSIwIiB5PSIwIiB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHJ4PSIyIj48L3JlY3Q+CiAgICAgICAgPHBvbHlsaW5lIGlkPSLot6/lvoQtMTUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgcG9pbnRzPSI0LjUgNyA2LjYgOSA5LjUgNC41Ij48L3BvbHlsaW5lPgogICAgPC9nPgo8L3N2Zz4K) center center / 100% 100% no-repeat;
}

.o41EmR1g1VM3h47B9EWl {
  width: 28px;
  height: 16px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  position: relative;
  transition: border-color 0.3s, background-color 0.3s;
  vertical-align: middle;
  cursor: pointer;
}
.o41EmR1g1VM3h47B9EWl .QJr6Y6vRnfScwwYy9eIA {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 100%;
  transition: all 0.3s;
  top: 2px;
  left: 2px;
}
.o41EmR1g1VM3h47B9EWl.bS8D2ZqA_oVN4otCSZAE {
  background: #0d53ff;
}
.o41EmR1g1VM3h47B9EWl.bS8D2ZqA_oVN4otCSZAE .QJr6Y6vRnfScwwYy9eIA {
  left: 100%;
  margin-left: -14px;
}

